.App{font-family:sans-serif}*,.App{margin:0}.form-main{margin:70px;padding-left:150px;padding-right:150px}.appBar{background-image:linear-gradient(109.6deg,#278eff 11.2%,rgba(98,113,255,.78) 100.2%);background-image:linear-gradient(65.9deg,#55e4e0 5.5%,rgba(75,68,224,.74) 54.2%,#40c6ee 55.2%,#b124e0 98.4%)}body{background-image:linear-gradient(110.1deg,#1e0253 44.2%,#c637a0 138.2%);background-image:linear-gradient(92.7deg,#f5d4d4 8.5%,#fcfbe0 90.2%)}
/*# sourceMappingURL=main.1840ba7b.chunk.css.map */